<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asiainfo.selforder"
    android:versionCode="1"
    android:versionName="1.0">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--存储读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许程序读取或写入系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许一个应用程序检索私有信息是当前最顶级的活动，不被第三方应用使用,查看task栈-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--系统默认下载管理器调用权限-->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <!--禁止发出通知,既后台下载不提示-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 极光推送调用权限 -->
    <uses-permission android:name="com.asiainfo.mealorder.permission.JPUSH_MESSAGE" />
    <!-- 用户唤醒机器的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 屏幕唤醒锁权限,允许屏幕保持唤醒不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 允许程序使用键盘锁权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 显示顶层浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    //注意：在MIUI上需要在设置中打开本应用的”显示悬浮窗”开关，并且重启应用，否则悬浮窗只能显示在本应用界面内，不能显示在手机桌面上
    <application
        android:name="com.asiainfo.selforder.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.DishCompsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.DishesMenuActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.MakeOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name=".ui.SettleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name=".ui.PayStateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name=".ui.PayXianjinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>

        <activity
            android:name="com.iflytek.voicedemo.IflytekActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name="com.iflytek.voicedemo.IatDemo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name="com.iflytek.voicedemo.TtsDemo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name="com.iflytek.speech.IatSettings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NODimEnabled">
        </activity>
        <activity
            android:name=".service.ScreenSaverActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"  >
        </activity>

        <service
            android:name="kxlive.gjrlibrary.utils.DownloadService"
            android:exported="true" />
        <!-- 锁屏监听服务 -->
        <service android:name=".service.ScreenService" />
    </application>

</manifest>
